@if (BreakerSwitch?.Type == Models.CircuitBreakerInstance.BreakerTypes.DoublePole)
{
    <div class="double-pole" @onclick="clicked">
        @if (BreakerSwitch != null)
        {
            <div class="breaker" data-amps="@(BreakerSwitch?.Amperage)" />
            <div class="breaker" data-amps="@(BreakerSwitch?.Amperage)" />
        }
    </div>
} else
{
    <div class="breaker @(BreakerSwitch?.Type == Models.CircuitBreakerInstance.BreakerTypes.SinglePole ? "single-pole" : "double-circuit")" data-amps="@(BreakerSwitch?.Amperage)" @onclick="clicked" />
}
@code {
    [Parameter]
    public Models.CircuitBreakerInstance.Breaker BreakerSwitch { get; set; }

    [Parameter]
    public EventCallback<Models.CircuitBreakerInstance.Breaker> OnBreakerClicked { get; set; }

    private async Task clicked()
    {
        OnBreakerClicked.InvokeAsync(BreakerSwitch);
    }
}
