<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="/app.css" />
    <link rel="stylesheet" href="/CircuitBreakerApp.styles.css" />
    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/breakerbox.min.css" rel="stylesheet" />
    <HeadOutlet />
</head>

<body>
    <Routes />
    <script src="/_framework/blazor.web.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
    <script src="/windowfunctions.js"></script>
</body>

</html>
