@inherits LayoutComponentBase

<div class="page">
    <NavMenu />

    <main>
        <div class="top-row px-4 navbar-dark">
        </div>

        <article class="content px-4">
            @Body
        </article>
        <footer class="position-absolute bottom-0 ">
            <div class="d-flex flex-row justify-content-center flex-nowrap">
                <a href="https://github.com/tbm0115/CircuitBreaker" target="_blank">GitHub</a>
            </div>
        </footer>
    </main>
</div>
